/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

// Adding the Compass CSS reset file
@import "compass/reset";

// Fixing the nav inline problem
@import "compass/typography/lists/inline-block-list";

// Importing the Compass CSS3 Features
@import "compass/css3";

// Importing the Compass Clearfix Feature
@import "compass/utilities/general/clearfix";

// Mixins go here
@mixin inline-block-list($padding: false) {
  @include inline-block-list-container;
  li {
    @include inline-block-list-item($padding);
  }
}

// Variables go here

// Colors
$darkblue: #009fe3;
$lightblue: #9F0057;
$red: red;

// Typo
$regular: "Helvetica";
$bold: "AbsaraBoldRegular";
$italic: "AbsaraBoldItalic";
$headline: "rockstar_gothic";

body {
	margin: 0;
	padding: 0;
	font-family: $regular, arial, tahoma, verdana, sans-serif;
	text-rendering: optimizeLegibility;
	font-size: 16px;
	letter-spacing: 0.1px;
	line-height: 1.3em;
	background: white url('../images/body_bg.png');
	
	::-moz-selection {
  		background: black;
  		color: #5aff41;
  	}
	
	::selection {
  		background: black;
  		color: #5aff41;
  	}
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 700;
	margin-bottom: 10px;
	font-size: 20px;
}

p {
	margin-bottom: 10px;
}

#wrapper {
	width: 980px;
	margin: 50px auto;

	#left_bar {
		float: left;
		width: 160px;
	
		h1 {
			display: block;
			height: 172px;
			width: 160px;
			background: url('../images/logo.png');
			text-indent: -9999px;
		}
	
		#nav {
		
			ul {
				margin-top: 60px;
				
				li {
					text-align: right;
					height: 37px;
					
					span {
						height: 40px;
						padding: 10px;
						padding-right: 40px;
						text-align: right;
						background-color: black;
						color: white;
						
						&:hover {
							background-color: #5aff41;
							color: black;
							padding-right: 60px;
							-webkit-transition: all .5s;
							-moz-transition: all .5s;
							-o-transition: all .5s;
							transition: all .5s;
						};
					}
				}
			}

		}
	}

	#stage {
		background: white;
		width: 640px;
		float: left;
		border: 5px solid black;
		
		#content {
			margin: 20px;
			
			.post {
				margin-bottom: 20px;
				padding-bottom: 10px;
				border-bottom: 5px solid black;
			}
		}
		
		#footer {
			width: 100%;
			height: 200px;
			background-color: black;
			color: white;
			
			#social_media {
				margin: 20px;
				width: 42%;
				float: left;
			}
			
			#imprint {
				margin: 20px;
				width: 42%;
				float: left;
			}
		}
	}

	#right_bar {
		float: left;
		width: 160px;
		margin-left: 10px;
		
		#sponsors {
			background: white;
			padding: 10px;
			border: 5px solid black;
			
			h1 {
				font-size: 16px;
			}

			img {
				display: block;
				background: black;
				height: 130px;
				width: 130px;
				margin-bottom: 10px;
			}
		}
	}

}