<!DOCTYPE html>
<head>
  <meta charset='utf-8' />
  <title>{{ page.title }}</title>
  
  <meta name="description" content="bitte ausfuellen." />
  <meta name="keywords" content="bitte ausfuellen." />
  
  <!-- CSS goes here -->
  <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />
  <link href="/stylesheets/print.css" media="print" rel="stylesheet" type="text/css" />
  
  <!-- Conditional comments go here -->
  <!--[if IE]>
      <link href="/stylesheets/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
  <![endif]-->
  
  <!-- JavaScript goes here -->
  <script src="javascript/jquery-1.7.min.js" type="text/javascript" charset="utf-8"></script>
  <script src="javascript/modernizr.custom.40990.js" type="text/javascript" charset="utf-8"></script>
</head>

<body>
<div id="wrapper">
  
    <section id="left_bar">
      <h1 id="logo">BigData-Roundtable</h1>

      <nav id="nav">
        <ul>
          <li>Blog</li>
          <li>Teilnehmer</li>
        </ul>
      </nav>
    </section>

    <section id="stage">
      <section id="content">
      {{content}}
      </section>

      <footer id="footer">
        <section id="social_media">
        </section>
  
        <section id="imprint">
        </section>
      </footer>
    </section>

    <section id="right_bar">
      <section id="sponsors">
        <h2>Sponsoren</h2>
        <img src="#" alt="img" />
        <img src="#" alt="img" />
        <img src="#" alt="img" />
        <img src="#" alt="img" />
        <img src="#" alt="img" />
      </section>
    </section>

</div>
</body>