/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.12.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.12.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, ../../../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.12.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, ../../../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.12.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, ../../../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.12.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, ../../../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.12.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, ../../../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.12.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, ../../../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.12.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 114, ../../../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.12.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 39, ../sass/screen.scss */
body {
  margin: 0;
  padding: 0;
  font-family: "Helvetica", arial, tahoma, verdana, sans-serif;
  text-rendering: optimizeLegibility;
  font-size: 16px;
  letter-spacing: 0.1px;
  line-height: 1.3em;
  background: white url("../images/body_bg.png");
}
/* line 49, ../sass/screen.scss */
body ::-moz-selection {
  background: black;
  color: #5aff41;
}
/* line 54, ../sass/screen.scss */
body ::selection {
  background: black;
  color: #5aff41;
}

/* line 60, ../sass/screen.scss */
h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  margin-bottom: 10px;
  font-size: 20px;
}

/* line 66, ../sass/screen.scss */
p {
  margin-bottom: 10px;
}

/* line 70, ../sass/screen.scss */
#wrapper {
  width: 980px;
  margin: 50px auto;
}
/* line 74, ../sass/screen.scss */
#wrapper #left_bar {
  float: left;
  width: 160px;
}
/* line 78, ../sass/screen.scss */
#wrapper #left_bar h1 {
  display: block;
  height: 172px;
  width: 160px;
  background: url("../images/logo.png");
  text-indent: -9999px;
}
/* line 88, ../sass/screen.scss */
#wrapper #left_bar #nav ul {
  margin-top: 60px;
}
/* line 91, ../sass/screen.scss */
#wrapper #left_bar #nav ul li {
  text-align: right;
  height: 37px;
}
/* line 95, ../sass/screen.scss */
#wrapper #left_bar #nav ul li span {
  height: 40px;
  padding: 10px;
  padding-right: 40px;
  text-align: right;
  background-color: black;
  color: white;
}
/* line 103, ../sass/screen.scss */
#wrapper #left_bar #nav ul li span:hover {
  background-color: #5aff41;
  color: black;
  padding-right: 60px;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
}
/* line 119, ../sass/screen.scss */
#wrapper #stage {
  background: white;
  width: 640px;
  float: left;
  border: 5px solid black;
}
/* line 125, ../sass/screen.scss */
#wrapper #stage #content {
  margin: 20px;
}
/* line 128, ../sass/screen.scss */
#wrapper #stage #content .post {
  margin-bottom: 20px;
  padding-bottom: 10px;
  border-bottom: 5px solid black;
}
/* line 135, ../sass/screen.scss */
#wrapper #stage #footer {
  width: 100%;
  height: 200px;
  background-color: black;
  color: white;
}
/* line 141, ../sass/screen.scss */
#wrapper #stage #footer #social_media {
  margin: 20px;
  width: 42%;
  float: left;
}
/* line 147, ../sass/screen.scss */
#wrapper #stage #footer #imprint {
  margin: 20px;
  width: 42%;
  float: left;
}
/* line 155, ../sass/screen.scss */
#wrapper #right_bar {
  float: left;
  width: 160px;
  margin-left: 10px;
}
/* line 160, ../sass/screen.scss */
#wrapper #right_bar #sponsors {
  background: white;
  padding: 10px;
  border: 5px solid black;
}
/* line 165, ../sass/screen.scss */
#wrapper #right_bar #sponsors h1 {
  font-size: 16px;
}
/* line 169, ../sass/screen.scss */
#wrapper #right_bar #sponsors img {
  display: block;
  background: black;
  height: 130px;
  width: 130px;
  margin-bottom: 10px;
}
