<!DOCTYPE html>
<head>
  <meta charset='utf-8' />
  <title>{{ page.title }}</title>

  <meta name="description" content="Der Bigdata Roundtable trifft sich alle 2 Monate und tauscht sich zu Themen wie Hadoop, Cassandra, Pig und deren operativem Einsatz aus." />

  <!-- CSS goes here -->
  <link href="/css/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />
  <link href="/css/print.css" media="print" rel="stylesheet" type="text/css" />

  <!-- Conditional comments go here -->
  <!--[if IE]>
    <link href="/css/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
  <![endif]-->

  <!-- JavaScript goes here -->
  <script src="/javascript/modernizr.custom.40990.js" type="text/javascript" charset="utf-8"></script>
  
  <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-27085622-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

  </script>
  
</head>

<body>

  <div id="wrapper">

    <section id="left_bar">
      <a href="/"><h1 id="logo">BigData-Roundtable</h1></a>

      <nav id="nav">
        <ul>
          <li><a href="/"><span>Blog</span></a></li>
          <li><a href="/gaesteliste.html"><span>Anmeldung</span></a></li>
          <li><a href="/teilnehmer.html"><span>Teilnehmer</span></a></li>
        </ul>
      </nav>
    </section>

    <section id="stage">
      <section id="content">
        {{content}}
      </section>

      <footer id="footer">
        <section id="social_media">
        </section>

        <section id="imprint">
          Bigdata Roundtable<br />
          Tobias Schlottke<br />
          Talstraße 27 II <br />
          20359 Hamburg
        </section>
      </footer>
    </section>

    <section id="right_bar">
      <section id="sponsors">
        <h1>Sponsoren</h1>

        <a href="http://www.datameer.com/" target="_blank">
          <img src="/images/sponsors/datameer_logo_low.png" width="132" alt=" " />
        </a>

        <a href="http://trakken.de" target="_blank">
          <img src="/images/sponsors/trakken.png" alt=" " />
        </a>

        <a href="http://adyard.de" target="_blank">
          <img src="/images/sponsors/adyard.png" alt=" " />
        </a>
        
        <a href="http://github.com" target="_blank">
          <img src="/images/sponsors/github.png" alt=" " />
        </a>

      </section>
    </section>

  </div>
  
</body>

